@{
    ViewData["Title"] = "Lock Customer";
}

<h1 class="display-4">Lock Customer</h1>
<div class="row">
    <div class="col-md-4">
        <form action="Lock">
            <div validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label for="CustomerID" class="control-label">Customer ID</label>
                <input for="CustomerID" name="CustomerID" class="form-control" />
                @Html.ValidationMessage("Error", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <input type="submit" value="Lock Customer" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}